body {
    font-size: 0.28rem;
}

.disp_n {
    display: none;
}

.box_siz_border {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.disp_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex_wrap {
    flex-wrap: nowrap;
}

.justify_content_center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.justify_content_btw {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify_content_ar {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.text_align_center {
    text-align: center;
}

.align_item_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.fullpage {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


