.header {
  width: 100%;
  height: 0.88rem;
  font-size: 0.36rem;
  color: #444444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  background: #f5f5f5;
}

.header i {
  padding: 0 0.2rem;
  color: #888888;
  font-size: 0.38rem;
}

.super-nav {
  width: 100%;
  height: 0.88rem;
  display: flex;
  position: relative;
}

.super-nav ul {
  width: 100%;
  display: flex;
}

.super-nav li {
  min-width: 25%;
  font-size: 0.28rem;
  text-align: center;
  height: 0.88rem;
  line-height: 0.88rem;
  display: inline-block;
  color: #999999;
}

.super-nav span {
  padding: 0.1rem 0.05rem;
}

.nav-active {
  color: #333333;
  border-bottom: 3px solid #333333;
  font-weight: bold;
}

.com, .super-brands, .hot-brands, .discount-brands {
  width: 100%;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.super-brands {
  position: relative;
}

.brands-title {
  color: #333333;
  font-size: 0.4rem;
  text-align: center;
  margin: 0 auto;
}

.brands-title .name {
  margin-bottom: 0.05rem;
}

.line {
  width: 0.5rem;
  background: #d8d8d8;
  height: 1px;
  margin: 0 auto;
}

.lookMore {
  position: absolute;
  display: flex;
  top: 50%;
  right: 0.2rem;
  margin-top: -0.1rem;
}

.lookMore span {
  font-size: 0.18rem;
  color: #999999;
}

.lookMore i {
  color: #999999;
  font-size: 0.18rem;
  padding-top: 0.03rem;
  padding-left: 0.03rem;
}

.super-wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.brands-list-wraps {
  width: 100%;
  overflow: hidden;
}

.brands-list-wraps .brands-list-container {
  height: 2.25rem;
  width: 20rem;
}

.brands-list-wraps li {
  width: 3.75rem;
  height: 2.25rem;
  margin-right: 0.22rem;
  float: left;
  position: relative;
}

.brands-list-wraps .shadow {
  position: absolute;
  width: 100%;
  height: 0.6rem;
  bottom: 0;
  left: 0;
  display: flex;
  color: #fff;
  font-size: 0.32rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.brands-list-wraps .shadow img {
  width: 0.8rem;
  height: 0.4rem;
}

.brands-list-wraps .shadow span {
  display: block;
  min-width: 2.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.smallImg {
  display: flex;
  align-items: center;
  margin-right: 0.2rem;
}

.brands-image > img {
  width: 100%;
  height: 100%;
}

.hot-brands-goods {
  width: 100%;
}

.hot-brands-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hot-brands-container li {
  width: 100%;
  padding: 0.2rem 0 0 0.2rem;
  box-sizing: border-box;
  display: flex;
}

.hot-brands-container .leftImg {
  width: 2.3rem;
}

.hot-brands-container img {
  width: 100%;
}

.over-com, .rightcontent .title, .rightcontent .address-time {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.rightcontent {
  width: 4.6rem;
  margin-left: 0.3rem;
}

.rightcontent .title {
  color: #333333;
  font-size: 0.3rem;
}

.rightcontent .address-time {
  font-size: 0.24rem;
  color: #999999;
  line-height: 0.36rem;
}

.rightcontent .comprice {
  font-size: 0.24rem;
  color: #bbbbbb;
  line-height: 0.43rem;
}

.condition {
  display: flex;
  align-items: center;
}

.condition .nowPrice {
  color: #ff6f6f;
  font-size: 0.32rem;
}

.condition .line {
  width: 0.04rem;
  height: 0.23rem;
  background-color: #ff6f6f;
  display: inline-block;
  margin: 0 0.1rem 0 0.15rem;
}

.condition .limit-buy {
  font-size: 0.24rem;
  color: #999999;
}

.condition .limit-num {
  color: #ff6f6f;
  font-style: inherit;
}

.condition .buy {
  width: 1.5rem;
  border: 1px solid #ff6f6f;
  background-color: #ff6f6f;
  color: #ffffff;
  border-radius: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.28rem;
  margin-left: 0.2rem;
}

.temai-wrap, .temai-header-wrap {
  width: 100%;
  height: 0.88rem;
  overflow: hidden;
  background-color: #ffffff;
}

.temai-wrap li, .temai-header-wrap li {
  height: 0.88rem;
  color: #999999;
  font-size: 0.28rem;
  float: left;
  line-height: 0.88rem;
  width: 2.35rem;
  margin: 0 0.1rem;
  text-align: center;
}

.temai-wrap span, .temai-header-wrap span {
  padding: 0.1rem 0.05rem;
}

.temai-wrap .temai-container, .temai-header-wrap .temai-container {
  width: 40.8rem;
  height: 0.88rem;
}

.temai-list-wrap {
  width: 100%;
}

.temai-list-wrap li {
  width: 50%;
  padding-right: 0.22rem;
  float: left;
  margin-bottom: 0.2rem;
  height: 5.4rem;
  height: 5.4rem;
  position: relative;
}

.temai-list-wrap .temai-img {
  width: 3.24rem;
  height: 3.24rem;
  overflow: hidden;
}

.temai-list-wrap img {
  width: 100%;
}

.temai-list-wrap .temai-title {
  font-size: 0.28rem;
  height: 0.88rem;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333333;
  margin-bottom: 0.2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 0.4rem;
}

.temai-list-wrap .temai-discount {
  font-family: normal;
  font-size: 0.24rem;
}

.temai-list-wrap .temai-discount span {
  display: inline-block;
  height: 0.34rem;
  line-height: 0.34rem;
  color: #ff4a4a;
  border: 1px solid #ff4a4a;
  border-radius: 0.04rem;
  padding: 0 0.08rem;
}

.temai-list-wrap .temai-comPrice {
  font-size: 0.24rem;
  color: #bbbbbb;
  height: 0.4rem;
  line-height: 0.4rem;
}

.temai-list-wrap .temai-buy {
  color: #ff6f6f;
  font-size: 0.28rem;
  display: flex;
  align-items: center;
}

.temai-list-wrap .temai-line {
  width: 0.04rem;
  height: 0.23rem;
  background-color: #ff6f6f;
  margin: 0 0.1rem 0 0.15rem;
}

.temai-list-wrap .limit-buy {
  font-size: 0.24rem;
  color: #999999;
}

.temai-list-wrap .limit-buy .limit-num {
  color: #ff6f6f;
}

.temai-cart {
  width: 0.54rem;
  height: 0.54rem;
  border-radius: 100%;
  background-color: #ff4a4a;
  position: absolute;
  bottom: 0.2rem;
  right: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temai-cart .iconcart {
  color: white;
  font-size: 0.26rem;
}

.temai-header-wrap {
  position: fixed;
  top: 0.88rem;
  left: 0;
  z-index: 10;
  display: none;
}

.top-nav {
  width: 100%;
  height: 1.2rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 0.04rem solid #fe8477;
  position: absolute;
  top: 0.88rem;
  left: 0;
  z-index: 15;
  display: none;
}

.top-nav::after {
  content: "";
  border: 0.06rem solid transparent;
  position: absolute;
  top: -0.12rem;
  right: 0.3rem;
  border-bottom: 0.06rem solid rgba(0, 0, 0, 0.8);
}

.top-nav-list {
  width: 100%;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top-nav-list a {
  color: #fff;
  font-size: 0.24rem;
}

.top-nav-list i {
  color: #fff;
  font-size: 0.36rem;
}

.top-nav-list li {
  text-align: center;
}

.header .close {
  color: #fe5b4a;
}

.icon-hidden {
  display: none;
}
