#wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.search_box {
    width: 100vw;
    height: 0.88rem;
    padding: 0 0.2rem;
    // background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>.iconfont {
        font-size: 0.4rem;
        color: #666;
    }

    &>.input_box {
        width: 5.45rem;
        height: 0.64rem;
        background-color: #f6f6f6;
        border-radius: 0.08rem;
        padding: 0 0.18rem;
        justify-content: space-between;
        display: flex;
        align-items: center;

        &>.iconfont {
            font-size: 0.28rem;
            font-weight: 600;
            color: #ddd;
        }

        & input {
            width: 4.2rem;
            color: #999;
            font-size: 0.24rem;
            background-color: #f6f6f6;
            outline: none;
            border: none;
        }

    }

    & .icon {
        font-size: 0.38rem;
        color: #999;
    }

}

// 下面是排序的模块
.rank {
    width: 100vw;
    height: 0.88rem;
    border-top: 0.01rem solid #ddd;
    border-bottom: 0.01rem solid #ddd;
    display: flex;
    position: relative;
    z-index: 10;

    &>.box {
        width: 25vw;
        height: 0.88rem;
        // background-color: pink;
        // border-right: 0.01rem solid red;
        display: flex;
        justify-content: center;
        align-items: center;

        &>span {
            font-size: 0.28rem;
            padding-right: 0.05rem;
            color: #777;
        }

        & .iconfont {
            color: #777;
        }

        & .icon {
            font-size: 0.23rem;
        }
    }
}

.option {
    width: 100vw;
    height: 0.75rem;
    border-bottom: 0.01rem solid #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &>.box {
        width: 1.62rem;
        height: 0.48rem;
        background-color: #F6F6F6;
        border-radius: 0.08rem;
        font-size: 0.25rem;
        color: #777;
        text-align: center;
        line-height: 0.48rem;
    }
}

// 下面是上拉加载更多的滚动效果
.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #f8f8f8;
    overflow: hidden;

    &>.content {
        width: 100vw;
    }

    // 商品一列显示的样式
    & .oneList {
        float: left;
        width: 100vw;
        border-top: 0.01rem solid #ddd;
        padding: 0.4rem 0.2rem 0.2rem 0.36rem;
        display: flex;
        justify-content: space-between;
        background-color: #fff;

        &>.img_box {
            width: 2.3rem;
            height: 2.3rem;
        }

        &>.content_pro {
            width: 4.44rem;
        }

        & .title {
            text-overflow: ellipsis;
            word-break: break-all;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
            font-size: 0.28rem;
            color: #333333;
            margin-bottom: 0.3rem;
        }

        & em {
            font-style: normal;
            color: #FF4A4A;
            padding: 0 0.06rem;
            height: 0.28rem;
            font-size: 0.2rem;
            color: #FF4A4A;
            text-align: center;
            border: 1px solid #FFBDBD;
            border-radius: 0.04rem;
        }

        & .reserved {
            height: 0.36rem;
            margin-bottom: 0.3rem;
        }

        & .discounts {
            height: 0.33rem;
            font-size: 0.22rem;
            color: #FF6F6F;
            padding: 0.01rem 0.04rem;
            margin-bottom: 0.12rem;
        }

        & .bottom {
            height: 0.44rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 0.2rem;

            & .price {
                font-size: 0.32rem;
                margin-right: 0.7rem;
                color: #FF6F6F;
            }

            & .iconfont {
                font-size: 0.2rem;
                color: #666;
                margin-right: 0.1rem;
            }

            & .reply {
                font-size: 0.15rem;
                color: #999;
                margin-right: 0.25rem;
            }

            & .centage {
                font-size: 0.15rem;
                color: #999;
                margin-right: 0.25rem;
            }

            & .addCar {
                width: 0.5rem;
                height: 0.5rem;
                display: flex;
                align-items: center;
                border-radius: 50%;
                justify-content: center;
                border: 0.01rem solid #999;

                & .iconfont {
                    font-size: 0.3rem;
                    color: #FF4A4A;
                }
            }
        }
    }

    // 点击切换为两列显示的样式
    & .twoList {
        width: 46vw;
        height: 6.78rem;
        margin-left: 0.2rem;
        margin-top: 0.15rem;
        border-radius: 0.1rem;
        padding: 0.1rem;
        border: none;
        text-align: center;

        &>.img_box {
            width: 100vw;
            height: 3.31rem;
        }

    }
}

.load {
    width: 0.5rem;
    height: 0.5rem;
}